{% extends 'base.html' %}
{% load static %}


{% block title %}Politica{% endblock %}
	

{% block content %}
<div style="width: 100%; display: flex; justify-content: center;">
    <div class="container" style="display: flex; flex-direction: column; align-items: center; gap: 10px;">
        <img src="{% static 'img/LogoPrincipal1.png' %}" alt="Logo" style="width: 800px; height: auto;">
        <a href="http://192.99.185.73:8080/campanhapolitica/com.campanha.wmlogin" target="_blank" style="text-decoration: none; color: blue;">Clique aqui para saber mais</a>
    </div>
</div>
{% endblock %}


